.about {
    position: relative;
    text-align: center;
    background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MTg0MzExOC13aWtpbWVkaWEtaW1hZ2Uta293YzVmbDcuanBn.jpg') center/cover no-repeat rgba(255, 255, 255, 0.5);
    padding: 50px; 
    color: white; 
    margin: 4rem 6rem;
    background-size: cover; 
}

.history {
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .7); 
    padding: 20px;
    border-radius: 10px; 
}

.history p{
    text-align: start;
    font-size: 0.9rem;
}

.history h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.owner {
    margin-top: 20px;
}

.owner p{
    font-style: italic;
    font-size: 0.8rem;
}

.owner img{
    width: 150px;
    height: 150px;
}

.mission{
    padding-top: 2rem;
    margin: 2rem 2rem;
}

.mission p{
    font-size: 3rem;
    font-weight: 500;
}

@media screen and (max-width:850px) {
    .mission{
        scale: 1.3;
    }
    .mission p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px) {
    .about {
        margin: 1rem 1rem;
        height: auto;
    }
}

@media screen and (max-width:550px) {
    .mission{
        margin: 0.5rem 0.5rem ;
    }
}

@media screen and (max-width:320px) {
    .about {
        margin: .5rem .5rem;
        height: auto;
    }
}